@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.light {
		/* Latte Color Variables */
		--rosewater: 11 59% 67%;
		--flamingo: 0 60% 68%;
		--pink: 316 73% 69%;
		--mauve: 266 85% 58%;
		--red: 347 87% 44%;
		--maroon: 355 76% 59%;
		--peach: 22 99% 52%;
		--yellow: 35 77% 49%;
		--green: 109 58% 40%;
		--teal: 183 74% 35%;
		--sky: 197 97% 46%;
		--sapphire: 189 70% 42%;
		--blue: 220 91% 54%;
		--lavender: 231 97% 72%;
		--text: 234 16% 35%;
		--subtext-1: 233 13% 41%;
		--subtext-0: 233 10% 47%;
		--overlay-2: 232 10% 53%;
		--overlay-1: 231 10% 59%;
		--overlay-0: 228 11% 65%;
		--surface-2: 227 12% 71%;
		--surface-1: 225 14% 77%;
		--surface-0: 223 16% 83%;
		--base: 220 23% 95%;
		--mantle: 220 22% 92%;
		--crust: 220 21% 89%;

		--background: var(--base);
		--foreground: var(--text);
		--card: var(--base);
		--card-foreground: var(--text);
		--popover: var(--base);
		--popover-foreground: var(--text);
		--primary: var(--text);
		--primary-foreground: var(--crust);
		--secondary: var(--surface-1);
		--secondary-foreground: var(--text);
		--muted: var(--surface-1);
		--muted-foreground: var(--subtext-0);
		--accent: var(--surface-1);
		--accent-foreground: var(--text);
		--destructive: var(--red);
		--destructive-foreground: var(--base);
		--border: var(--crust);
		--input: var(--crust);
		--ring: var(--surface-1);
		--chart-1: var(--rosewater);
		--chart-2: var(--green);
		--chart-3: var(--sky);
		--chart-4: var(--peach);
		--chart-5: var(--pink);
		--sidebar-background: var(--base);
		--sidebar-foreground: var(--text);
		--sidebar-primary: var(--blue);
		--sidebar-primary-foreground: var(--crust);
		--sidebar-accent: var(--surface-0);
		--sidebar-accent-foreground: var(--text);
		--sidebar-border: var(--surface-2);
		--sidebar-ring: var(--blue);
		--radius: 0.5rem;
	}
	:root {
		/* Mocha Color Variables */
		--rosewater: 10 56% 91%;
		--flamingo: 0 59% 88%;
		--pink: 318 72% 86%;
		--mauve: 267 84% 81%;
		--red: 343 81% 75%;
		--maroon: 351 65% 77%;
		--peach: 23 92% 75%;
		--yellow: 41 86% 83%;
		--green: 115 54% 76%;
		--teal: 170 57% 73%;
		--sky: 189 71% 73%;
		--sapphire: 199 76% 69%;
		--blue: 217 92% 76%;
		--lavender: 232 97% 85%;
		--text: 226 64% 88%;
		--subtext-1: 227 35% 80%;
		--subtext-0: 228 24% 72%;
		--overlay-2: 228 17% 64%;
		--overlay-1: 230 13% 55%;
		--overlay-0: 231 11% 47%;
		--surface-2: 233 12% 39%;
		--surface-1: 234 13% 31%;
		--surface-0: 237 16% 23%;
		--base: 240 21% 15%;
		--mantle: 240 21% 12%;
		--crust: 240 23% 9%;

		--background: var(--base);
		--foreground: var(--text);
		--card: var(--base);
		--card-foreground: var(--text);
		--popover: var(--base);
		--popover-foreground: var(--text);
		--primary: var(--lavender);
		--primary-foreground: var(--crust);
		--secondary: var(--surface-1);
		--secondary-foreground: var(--text);
		--muted: var(--surface-1);
		--muted-foreground: var(--subtext-0);
		--accent: var(--surface-1);
		--accent-foreground: var(--text);
		--destructive: var(--red);
		--destructive-foreground: var(--base);
		--border: var(--crust);
		--input: var(--crust);
		--ring: var(--surface-1);
		--chart-1: var(--rosewater);
		--chart-2: var(--green);
		--chart-3: var(--sky);
		--chart-4: var(--peach);
		--chart-5: var(--pink);
		--sidebar-background: var(--base);
		--sidebar-foreground: var(--text);
		--sidebar-primary: var(--blue);
		--sidebar-primary-foreground: var(--crust);
		--sidebar-accent: var(--surface-0);
		--sidebar-accent-foreground: var(--text);
		--sidebar-border: var(--surface-2);
		--sidebar-ring: var(--blue);
		--radius: 0.5rem;
	}
}
